{% if field_name in options.sort_permissions %}
	<a href="{{ url }}" class="skeleton-pager-header-link">
		{{ header }}
		{% if pager.get_sort() == field_name %}
			{% if pager.get_direction() == 'asc' %}
				<span class="glyphicon glyphicon-chevron-up"></span>
			{% else %}
				<span class="glyphicon glyphicon-chevron-down"></span>
			{% endif %}
		{% endif %}
	</a>
{% else %}
	{{ header }}
{% endif %}
