<nav aria-label="Search results">
	<ul class="pagination" id="pager-{{ classname|replace({'_': '-'}) }}">
	{% for link in links %}
		{% set disabled = false %}

		<!-- if previous link and first page is active -->
		{% if link.page == 'previous' and links.1.active %}
			{% set disabled = true %}
		{% endif %}

		<!-- if next link and last page is active -->
		{% if link.page == 'next' and links[(links|length) - 2].active %}
			{% set disabled = true %}
		{% endif %}
		<li class="page-item{% if link.active %} active{% endif %}{% if disabled %} disabled{% endif %}">
			<a href="{{ link.url }}" class="skeleton-pager-link page-link">
				{% if link.page == 'previous' %}
					&laquo;
				{% elseif link.page == 'next' %}
					&raquo;
				{% else %}
					{{ link.page }}
				{% endif %}
			</a>
		</li>
		{% if loop.last and options.jump_to %}
			<li class="page-item">
				<span class="jump-to-page">
					<input type="text" class="page-link" size="4" style="border: solid 1px #eee; text-align: center;"  placeholder="#" id="jump-to-page-{{ classname|replace({'_': '-'}) }}">
				</span>
			</li>
		{% endif %}
	{% endfor %}
	</ul>
</nav>

{% if options.jump_to %}
	<script src="/skeleton-pager/script.js" charset="UTF-8"></script>
{% endif %}
