<nav aria-label="Search results">
	<ul class="pagination" id="pager-{{ classname|replace({'_': '-'}) }}">
	{% for link in links %}
		<li class="page-item {% if link.active %}active{% endif %}">
			<a href="{{ link.url }}" class="skeleton-pager-link page-link">
				{% if link.page == 'previous' %}
					&laquo;
				{% elseif link.page == 'next' %}
					&raquo;
				{% else %}
					{{ link.page }}
				{% endif %}
			</a>
		</li>
		{% if loop.last and options.jump_to %}
		<li class="page-item">
			<span class="jump-to-page">
				<input type="text" class="page-link" size="4" style="border: solid 1px #eee; text-align: center;"  placeholder="#" id="jump-to-page-{{ classname|replace({'_': '-'}) }}">
			</span>
		</li>
		{% endif %}
	{% endfor %}
	</ul>
</nav>