{% if field_name in options.sort_permissions %}
	<a href="{{ url }}" class="skeleton-pager-header-link">
		{{ header }}
		{% if pager.get_sort() == field_name %}
			{% if pager.get_direction() == 'asc' %}
				<i class="ti ti-arrow-up fw-bold fs-3 mt-1"></i>
			{% else %}
				<i class="ti ti-arrow-down fw-bold fs-3 mt-1"></i>
			{% endif %}
		{% endif %}
	</a>
{% else %}
	{{ header }}
{% endif %}
